<div id="<%= dom_id nas %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Site:</strong>
    <%= nas.site_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nasname:</strong>
    <%= nas.nasname %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Shortname:</strong>
    <%= nas.shortname %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Type:</strong>
    <%= nas.type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ports:</strong>
    <%= nas.ports %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Secret:</strong>
    <%= nas.secret %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Server:</strong>
    <%= nas.server %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Community:</strong>
    <%= nas.community %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= nas.description %>
  </div>
</div>
