<div id="<%= dom_id nas %>" data-controller="nas active" data-action="click->nas#show" data-nas-id="<%= nas.id %>" data-tenant-id="<%= nas.site.tenant.id %>" data-site-id="<%= nas.site.id %>" class="cursor-pointer p-2 grid grid-cols-5 w-full rounded-sm bg-indigo-100 sm:w-auto my-2 gap-2 space-y-1 items-center">
  <div class="col-span-4 truncate">
    <%= nas.nasname %>
  </div>
  <div class="col-span-1">
    <%= nas.nas_type%>
  </div>
</div>
