<% content_for :title, "Showing NAS" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">NAS</h1>

  <div id="<%= dom_id @nas %>" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 w-full sm:w-auto my-5 gap-2 space-y-5">
    <div>
      <strong class="block font-medium mb-1">Site:</strong>
      <%= @nas.site_id %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Nasname:</strong>
      <%= @nas.nasname %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Shortname:</strong>
      <%= @nas.shortname %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Type:</strong>
      <%= @nas.nas_type %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Ports:</strong>
      <%= @nas.ports %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Secret:</strong>
      <%= @nas.secret %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Server:</strong>
      <%= @nas.server %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Community:</strong>
      <%= @nas.community %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Description:</strong>
      <%= @nas.description %>
    </div>
  </div>


  <div class="md:flex gap-2">
    <%= link_to "Edit", edit_admin_tenant_site_nas_path(@tenant, @site, @nas), class: "heimdall_button" %>
    <%= button_to "Delete", "#", method: :delete, data: {
          action: "click->modal#show",
          action_url: admin_tenant_site_nas_path(@site.tenant, @site, @nas),
          testid: "nas-delete-trigger"
        },
        form: { data: { turbo: false } }, # prevent button_to from wrapping a real form
        class: "heimdall_delete_button" %>

    <%= link_to "Back to Network Access Points", admin_tenant_site_nas_index_path(@tenant, @site), class: "heimdall_button" %>
  </div>
</div>
