<% content_for :title, "Showing tenant" %>

<div class="md:w-3/4 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl"><%= @tenant.name %></h1>

  <div id="clients" class="min-w-full divide-y divide-gray-200 space-y-5">
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 my-5">
      <div class="col-span-1">
        <strong class="font-medium">Name:</strong>
        <p><%= @tenant.name %></p>
      </div>
      <div class="col-span-1">
        <strong class="font-medium">Guest Max:</strong>
        <p><%= @tenant.guest_max %></p>
      </div>
      <div class="col-span-1">
        <strong class="font-medium">Guest RX:</strong>
        <p><%= @tenant.guest_rx %></p>
      </div>
      <div class="col-span-1">
        <strong class="font-medium">Guest TX:</strong>
        <p><%= @tenant.guest_tx %></p>
      </div>
      <div class="col-span-1">
        <strong class="font-medium">Note:</strong>
        <p><%= @tenant.note %></p>
      </div>
      <div class="col-span-1">
        <strong class="font-medium">Active:</strong>
        <p><%= @tenant.active? ? "Yes" : "No" %></p>
      </div>
    </div>
  </div>
  <div class="">
    <%= link_to "Clients", admin_tenant_clients_path(@tenant), class: "heimdall_button" %>
    <%= link_to "Sites", admin_tenant_sites_path(@tenant), class: "heimdall_button" %>
    <%= link_to "Admins", admin_tenant_users_path(@tenant), class: "heimdall_button" %>
    <%= link_to "Edit", edit_admin_tenant_path(@tenant), class: "heimdall_button" %>
    <%= button_tag "Delete", type: "button", data: {
          action: "click->modal#show",
          turbo: false,
          action_url: admin_tenant_path(@tenant)
        },
        class: "heimdall_delete_button" %>

    <%= link_to "Back to Tenants", admin_tenants_path, class: "heimdall_button" %>
  </div>
</div>
