<% content_for :title, "Showing client" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl"><%= @client.name %></h1>
  <div id="clients" class="min-w-full divide-y divide-gray-200 space-y-5">
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 w-full sm:w-auto my-5 gap-2 space-y-5">
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Name:</strong><%= @client.name %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Email:</strong><%= @client.email %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Phone:</strong><%= @client.phone %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Guest max:</strong><%= @client.guest_max %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Guest rx:</strong><%= @client.guest_rx %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Guest tx:</strong><%= @client.guest_tx %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Active:</strong><%= @client.active? ? "Yes" : "No" %>
      </div>
      <div class="col-span-1">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="md:flex gap-2">
    <%= link_to "Devices", admin_client_devices_path(@client), class: "heimdall_button" %>
    <%= link_to "Edit", edit_admin_tenant_client_path(@client.tenant, @client), class: "heimdall_button" %>
    <%= button_tag "Delete", type: "button", data: {
          action: "click->modal#show",
          action_url: admin_tenant_client_path(@client.tenant, @client)
        },
        class: "heimdall_delete_button" %>

    <%= link_to "Back to clients", admin_tenant_clients_path(@client.tenant), class: "heimdall_button" %>
  </div>

</div>
