<turbo-frame id="login_form">
  <div class="w-full max-w-md mx-auto p-6 bg-white shadow rounded">
    <h1 class="text-xl font-semibold mb-4">Log ind for at få adgang til netværket</h1>

    <%= form_with url: session_path, method: :post, data: { turbo: false, turbo_frame: "otp_input" } do |form| %>
      <div class="mb-4">
        <%= form.label :name, "For- og efternavn", class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :name, autofocus: true, class: "text-lg font-mono p-2 mt-1 block w-full bg-white rounded border-gray-300 shadow-sm" %>
      </div>

      <div class="mb-4">
        <%= form.label :pnr, "Dit P-nr", class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :pnr, class: "text-lg font-mono p-2 mt-1 block w-full rounded border-gray-300 shadow-sm" %>
        <p class="text-xs mt-2 text-gray-400">Har du ikke et P-nr får du kun 24 timers adgang, før du skal godkendes igen. Med et P-nr får du permanent adgang (indtil din translokation).</p>
      </div>

      <div class="mb-4">
        <%= form.label :email, "Din email adresse", class: "block text-sm font-medium text-gray-700" %>
        <%= form.email_field :email, class: "text-lg font-mono p-2 mt-1 block w-full rounded border-gray-300 shadow-sm" %>
      </div>

      <div class="mb-4">
        <%= form.label :phone, "Dit telefonnummer", class: "block text-sm font-medium text-gray-700" %>
        <%= form.telephone_field :phone, class: "text-lg font-mono p-2 mt-1 block w-full rounded border-gray-300 shadow-sm" %>
      </div>

      <%# Hidden fields to preserve flow context %>
      <%= hidden_field_tag :ssid, params[:ssid] %>
      <%= hidden_field_tag :url,  params[:url] %>
      <%= hidden_field_tag :id,   params[:id] %>
      <%= hidden_field_tag :ap,   params[:ap] %>
      <%= hidden_field_tag :t,    params[:t] %>
      <turbo-frame id="otp_input">
        <p class="text-xs text-gray-400 mb-4">
          Har du angivet din email adresse og/eller dit telefonnummer? 
          Så tryk på knappen "Send mig en OTP" for at modtage en engangskode (OTP) via email og/eller SMS.
          <br>
          Koden skal du bruge for at logge på netværket.
          Hvis du ikke har/vil angive din email eller telefonnummer, kan du kontakte support for at få hjælp.
        </p>
        <%= form.submit "Send mig en OTP ", class: "bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded" %>
      </turbo-frame>
    <% end %>
  </div>
</turbo-frame>