<div id="<%= dom_id device %>" data-controller="device" data-action="click->device#show" data-device-id="<%= device.id %>" data-client-id="<%= device.client.id %>" class="cursor-pointer p-2 grid grid-cols-5 w-full rounded-sm bg-indigo-100 sm:w-auto my-2 gap-2 space-y-1 items-center">
  <div class="col-span-4 truncate">
    <%= device.mac_address %>
  </div>
  <div class="col-span-1">
    <%= device.authentication_expire_at %>
  </div>
</div>
