<% content_for :title, "Showing device" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl"><%= @device.mac_address %></h1>

  <div id="devices" class="min-w-full divide-y divide-gray-200 space-y-5">
    <div id="<%= dom_id @device %>" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 w-full sm:w-auto my-5 gap-2 space-y-5">
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Site:</strong>
        <%= @device&.site&.name %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Client:</strong>
        <%= @device.client.name %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">MAC Address:</strong>
        <%= @device.mac_address %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Last AP:</strong>
        <%= @device.last_ap %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Last OTP:</strong>
        <%= @device.last_otp %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Unifi ID:</strong>
        <%= @device.unifi_id %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Last authenticated at:</strong>
        <%= @device.last_authenticated_at %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Authentication Expire At:</strong>
        <%= @device.authentication_expire_at %>
      </div>
    </div>
  </div>

  <div class="md:flex gap-2">
    <%= link_to "Edit this device", edit_admin_client_device_path(@device.client, @device), class: "heimdall_button" %>
    <%= button_to "Delete", "#", method: :delete, data: {
          action: "click->modal#show",
          action_url: admin_client_device_path(@device.client, @device)
        },
        form: { data: { turbo: false } }, # prevent button_to from wrapping a real form
        class: "heimdall_delete_button" %>
    <%= link_to "Back to devices", admin_client_devices_path(@device.client), class: "heimdall_button" %>
  </div>
</div>
