<div id="<%= dom_id user %>" data-controller="user" data-action="click->user#show" data-tenant-id="<%= user.tenant.id %>"  data-user-id="<%= user.id %>" class="cursor-pointer p-2 grid grid-cols-5 w-full rounded-sm bg-indigo-100 sm:w-auto my-2 gap-2 space-y-1 items-center">
  <div class="col-span-4">
    <%= user.name %>
  </div>
  <div class="col-span-1">
    <%= user.active? ? "Yes" : "No" %>
  </div>
</div>
