<div id="<%= dom_id site %>" data-controller="site" data-action="click->site#show" data-site-id="<%= site.id %>" data-tenant-id="<%= site.tenant.id %>" class="cursor-pointer p-2 grid grid-cols-5 w-full rounded-sm bg-indigo-100 sm:w-auto my-2 gap-2 space-y-1 items-center">
  <div class="col-span-4 truncate">
    <%= site.name %>
  </div>
  <div class="col-span-1">
    <%= site.active? ? "Yes" : "No" %>
  </div>
</div>
