<% content_for :title, "Showing site" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl"><%= @site.name %></h1>

  <div id="<%= dom_id @site %>" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 w-full sm:w-auto my-5 gap-2 space-y-5">
    <div class="col-span-1">
      <strong class="block font-medium mb-1">Name:</strong>
      <%= @site.name %>
    </div>
    <div class="col-span-1">
      <strong class="block font-medium mb-1">Url:</strong>
      <%= @site.url %>
    </div>
    <div class="col-span-1">
      <strong class="block font-medium mb-1">Controller url:</strong>
      <%= @site.controller_url %>
    </div>
    <div class="col-span-1">
      <strong class="block font-medium mb-1">Controller type:</strong>
      <%= @site.controller_type %>
    </div>
    <% if @site.controller_type == "login" %>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Username:</strong>
        <%= @site.username %>
      </div>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">Password:</strong>
        <%= @site.password %>
      </div>
    <% else %>
      <div class="col-span-1">
        <strong class="block font-medium mb-1">API key:</strong>
        <%= @site.api_key %>
      </div>
    <% end %>
    <div class="col-span-1">
      <strong class="block font-medium mb-1">Ssid:</strong>
      <%= @site.ssid %>
    </div>
    <div class="col-span-1">
      <strong class="block font-medium mb-1">Guest max KB:</strong>
      <%= @site.guest_max %>
    </div>
    <div class="col-span-1">
      <strong class="block font-medium mb-1">Guest rx Kbps:</strong>
      <%= @site.guest_rx %>
    </div>
    <div class="col-span-1">
      <strong class="block font-medium mb-1">Guest tx Kbps:</strong>
      <%= @site.guest_tx %>
    </div>
    <div class="col-span-1">
      <strong class="block font-medium mb-1">Active:</strong>
      <%= @site.active? ? "Yes" : "No" %>
    </div>

  </div>

  <div class="md:flex gap-2">
    <%= link_to "Network Access Points", admin_tenant_site_nas_index_path(@tenant, @site), class: "heimdall_button" %>
    <%= link_to "Edit this site", edit_admin_tenant_site_path(@site.tenant, @site), class: "heimdall_button" %>
    <%= button_to "Delete", "#", method: :delete, data: {
          action: "click->modal#show",
          action_url: admin_tenant_site_path(@site.tenant, @site)
        },
        form: { data: { turbo: false } }, # prevent button_to from wrapping a real form
        class: "heimdall_delete_button" %>

    <%= link_to "Back to sites", admin_tenant_sites_path(@site.tenant), class: "heimdall_button" %>
  </div>

</div>
